{% extends "base.html" %}
{% block title %} Detail {% endblock title %}

{% block bg %}skyblue{% endblock bg %}

{% block content %}
    <a href="{% url "home:update" post.id %}"><button type="button" class="btn btn-primary">Update</button></a>
    <a href="{% url "home:delete" post.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
    <h1>{{object.id}}</h1>
    <h2>{{object.title}}</h2>
    <b>{{object.body}}</b><br>
    <small>{{object.author}} | {{object.created}}</small>
{% endblock content %}